<div class="text-center">
  <h1><%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :nom %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
      <p>
        <%= t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Currently waiting confirmation for: %{email}") %>
      </p>
    <%- end -%>



    <div><%= f.submit t('.update', :default => "Valider"), class: "btn btn-success"  %></div>
  <% end %>
  <div id="delete_account">
    <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Supprimer mon compte :("), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Really ? Pas de regret ?") }, :method => :delete %>.</p>
  </div>

</div>