<div class="logo">
	<%= image_tag "identite-finale.png" %>
</div>

<div class="title">
	<h2>Découvrez les restaurants parisiens préférés de vos amis</h2>
</div>

<div class="socialDiv">
	<div class="left">
		<a href="https://itunes.apple.com/fr/app/id1027312535">
			<%= image_tag "apple_logo.png" %>
			<button type="button" class="apple-button">Par ici !</button>
		</a>
	</div>
	<div class="right">
		<%= image_tag "android_logo.png" %>

		<div class= "form">
			<form action='/subscribers' class="form-inline" method="post">
				<input name="email" type="text" class="form-input" placeholder="votre email">
				<input type="submit" value="A venir !" class="android-button">
			</form>
			<p id="message">Etre averti du lancement sur Androïd</p>
		</div>
	</div>

	<div class="facebook-connect">
		<%= render "devise/shared/links" %>
	</div>

  <div class="container">
    <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters m inimum" if @validatable) %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.button :submit, "Sign up", class: "btn btn-primary" %> <% end %>
  <%= render "devise/shared/links" %> </div>
    </div>
  </div>

	<script>
		$(document).ready(function() {
			if (window.location.search.indexOf('subscribed=true') > -1) {
				$('#message').html('Nous faisons au plus vite !');
			}
		});
	</script>