Hello <%= @user.name.split(" ")[0] %>,
<br>
<br>
<%= @friend.name %> t'invite à découvrir ses restaurants sur Needl !
<br>
Regarde le premier restaurant qu'<%= @friend.gender == "male" ? "il" : "elle" %> t'a recommandé :
<br>
<br>
<strong><%= @restaurant.name %></strong>, <%= @restaurant.types.length > 0 ? @restaurant.types.first.name : @restaurant.food.name %>, Métro <%= @restaurant.subway_name %>
<br>
<em>"<%= @review %>"</em>, <%= @friend.name.split(" ")[0] %>
<br>
<!-- mettre localhost pour les tests -->
<a href = "http://www.needl.fr/api/recommendations.json?restaurant_id=<%=@restaurant.id%>&restaurant_origin=db&recommendation[wish]=true&origin=mail&user_email=<%=@user.email%>&user_token=<%=@user.authentication_token%>" target = "_blank"> J'ajoute à ma Wishlist !</a>
<br>
<a href = "http://www.needl.fr/recommendations/new?restaurant_id=<%=@restaurant.id%>&restaurant_origin=db&recommendation[wish]=false&origin=mail&user_email=<%=@user.email%>&user_token=<%=@user.authentication_token%>" target = "_blank"> Je le recommande moi aussi à mes amis !</a>
<br>
<br>
<%= image_tag @picture, :style => "height: 300px" %>
<br>
<br>
Tu peux voir tous ses autres coups de coeur sur Needl !
<br>
<br>
Tu peux également gérer à tout moment cette nouvelle relation en allant sur son profil dans la rubrique de tes amis.
<br>
<br>
A bientôt,
<br>
<br>
L'équipe Needl
