<div class="activities">
  <div class="container">
    <div class="list-group">
      <% @activities.each do |activity| %>
        <% if activity.owner.name %>
          <div class="list-group-item border margin row">
            <% if activity.trackable %>
              <div class="col-xs-2">
                <div class="profil">
                  <%= image_tag activity.owner.picture(:thumb), class: "img-circle" %>
                  <p><%= activity.owner ? activity.owner.name : 'Guest' %></p>
                </div>
              </div>
              <div class="col-xs-10">
                <div class="activity-bloc">
                  <span class="glyphicon glyphicon-plus"></span>
                  <small class="text-muted"><%= activity.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br>
                  Nouvelle recommandation pour le restaurant : <%= link_to Restaurant.find(activity.trackable.restaurant_id).name, restaurant_path(activity.trackable.restaurant_id) %> (<%= Restaurant.find(activity.trackable.restaurant_id).food.name %>)
                  <% if activity.trackable.review != "" %>
                    - Mot de la fin : "<%= activity.trackable.review %>"
                    <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



