<div class="activities">
  <div class="container">
    <div class="list-group">
      <% @activities.each do |activity| %>
        <% if activity.owner.name %>
          <div class="list-group-item border margin row">
            <% if activity.trackable %>
              <% resto = Restaurant.find(activity.trackable.restaurant_id) %>
              <div class="row">
                <div class="col-fix-left">
                  <div class="profil">
                    <%= image_tag activity.owner.picture, class: "img-circle" %>
                  </div>
                </div>
                <div class="col-fix-right">
                  <div class="activity-bloc">
                    <!-- User info -->
                    <p>
                      <%= activity.owner ? activity.owner.name.split(" ")[0] : 'Guest' %> recommande<br>
                      <small class="text-muted"><%= activity.created_at.strftime('%H:%M:%S %-d %B %Y') %></small>

                    </p>
                  </div>
                </div>
              </div>
              <!-- restaurant glimpse -->
              <%= link_to restaurant_path(resto.id) do %>
                <div id="image_field" style="background: url(<%= image_path(resto.restaurant_pictures.first ? resto.restaurant_pictures.first.picture : resto.picture_url) %>); background-repeat:no-repeat; background-size:cover; background-position:50% 50%">
                  <div id="text-left">
                    <h2><%= resto.name %></h2>
                    <h3><%= resto.food.name %></h3>
                  </div>
                  <div id="text-right", class="icon-box">
                    <%= render "restaurants/price_ranges/level_#{resto.price_range}.svg" %>
                  </div>
                </div>
              <% end %>
              <!-- END restaurant glimpse -->
              <!--
              <p><span class="quote-start"></span><span class="quote"><%= activity.trackable.review %></span><span class="quote-end"></span></p>
              -->
              <p class="quote">"<%= activity.trackable.review %>"</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



