<div id="reco-bg">
  <h1>Ajouter une Recommandation</h1>

  <div class="form-size">
    <%= simple_form_for @recommendation, html: { id: "form-reco"} do |reco| %>

      <%= reco.input :restaurant_id, label: 'Nom du restaurant', placeholder: 'Slizze Pizza' %>

      <%= reco.input :ambiences, as: :check_boxes, :wrapper_html => { 'data-max' => '2' }, collection:[["Chic<br>#{render 'restaurants/strengths_and_ambiences/chic.svg'}".html_safe, 1], ["Festif<br>#{render 'restaurants/strengths_and_ambiences/festif.svg'}".html_safe, 2], ["Typique<br>#{render 'restaurants/strengths_and_ambiences/typique.svg'}".html_safe, 3], ["En Cas de Soleil<br>#{render 'restaurants/strengths_and_ambiences/en_cas_de_soleil.svg'}".html_safe, 4], ["Fast & Good<br>#{render 'restaurants/strengths_and_ambiences/fast_and_good.svg'}".html_safe, 5]], input_html: { class: 'multiselectuser', multiple: true}, label: 'Sélectionnez 2 ambiances', :include_hidden => false  %>

      <%= reco.input :strengths, as: :check_boxes, :wrapper_html => { 'data-max' => '3' },
      collection:[["Nourriture<br>#{render 'restaurants/strengths_and_ambiences/nourriture.svg'}".html_safe, 1], ["Service<br>#{render 'restaurants/strengths_and_ambiences/service.svg'}".html_safe, 2], ["Cadre<br>#{render 'restaurants/strengths_and_ambiences/cadre.svg'}".html_safe, 3], ["Originalite<br>#{render 'restaurants/strengths_and_ambiences/originalite.svg'}".html_safe, 4], ["Générosité<br>#{render 'restaurants/strengths_and_ambiences/generosite.svg'}".html_safe, 5], ["Carte des Vins<br>#{render 'restaurants/strengths_and_ambiences/carte_des_vins.svg'}".html_safe, 6], ["Rapport Qualité / Prix<br>#{render 'restaurants/strengths_and_ambiences/rapport_qualite_prix.svg'}".html_safe, 7]], input_html: { class: 'multiselectuser', multiple: true}, label: 'Sélectionnez 3 points forts', :include_hidden => false  %>

      <%= reco.input :price, label: 'Prix du plat' %>

      <%= reco.input :review, as: :text, label: 'Commentaire' %>

      <%= reco.submit(class: "btn btn-danger") %>
    <% end %>
  </div>
</div>
