<div id="reco-bg">
  <h1>Ajouter une Recommandation</h1>

  <div class="form-size text-center">
    <%= simple_form_for @recommendation, html: { id: "form-reco"} do |reco| %>
      <%= hidden_field_tag :restaurant_id, @restaurant_id, class: "restaurants-autocomplete--id" %>
      <%= hidden_field_tag :restaurant_origin, @restaurant_origin, class: "restaurants-autocomplete--origin" %>

      <%= label_tag :restaurant_name, '<div class= "title">Nom du restaurant</div>'.html_safe %>
      <%= text_field_tag :restaurant_name, @query, placeholder: 'Slize Pizza', class: "restaurants-autocomplete", "data-url" => api_restaurants_path, autofocus: true %>

      <%= reco.input :ambiences, as: :check_boxes, :wrapper_html => { 'data-max' => '2' }, collection:[["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/chic.svg'}</div>Chic".html_safe, 1], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/festif.svg'}</div>Festif".html_safe, 2], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/typique.svg'}</div>Typique".html_safe, 3], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/ensoleille.svg'}</div>Ensoleillé".html_safe, 4], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/fast_and_good.svg'}</div>Fast & Good".html_safe, 5]], input_html: { class: 'multiselectuser', multiple: true}, label: '<div class= "title border">Choisis 2 ambiances</div>'.html_safe, item_wrapper_class: 'simple_form_inline', :include_hidden => false  %>


      <%= reco.input :strengths, as: :check_boxes, :wrapper_html => { 'data-max' => '3' },
      collection:[["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/cuisine.svg'}</div>Cuisine".html_safe, 1], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/service.svg'}</div>Service".html_safe, 2], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/cadre.svg'}</div>Cadre".html_safe, 3], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/original.svg'}</div>Original".html_safe, 4], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/copieux.svg'}</div>Copieux".html_safe, 5], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/vins.svg'}</div>Vins".html_safe, 6], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/qualite_prix.svg'}</div>Qualité / Prix".html_safe, 7]], input_html: { class: 'multiselectuser', multiple: true}, label: '<div class= "title border">Choisis 3 points forts</div>'.html_safe, item_wrapper_class: 'simple_form_inline', :include_hidden => false  %>

      <%= reco.input :price, label: '<div class= "title">Prix du plat</div>'.html_safe %>

      <%= reco.input :review, label: '<div class= "title">Mot de la fin <p>(40 caractères max)</p></div>'.html_safe,  maxlength: 40, placeholder: "Un plat à ne pas louper?" %>

      <%= reco.submit("Recommander !", class: "btn btn-danger") %>
    <% end %>
  </div>
  <script>
    mixpanel.track_forms("#form-reco", "reco_intent", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>", "restaurant": "<%= @restaurant ? @restaurant.name : '' %>"});
    // a verifier
  </script>
</div>
