<div id="reco-bg">
  <% if params[:restaurant_id].nil? %>
    <h1>Ajouter une Recommandation</h1>
  <% else %>
    <h1><%= "Recommander #{params[:restaurant_name]}"%></h1>
  <%end%>

  <div class="form-size text-center">
    <%= simple_form_for @recommendation, html: { id: "form-reco"} do |reco| %>

    <!-- remplir le nom et il trouve le resto -->

      <%= hidden_field_tag :restaurant_id, params[:restaurant_id], class: "restaurants-autocomplete--id" %>
      <%= hidden_field_tag :restaurant_origin, params[:restaurant_origin], class: "restaurants-autocomplete--origin" %>
      <% if params[:restaurant_id].nil? %>
        <%= label_tag :restaurant_name,
        '<div class= "title">
          <div class="title-middle">Nom du restaurant</div>
          <div class="title-label">Sélectionne le bon restaurant</div>
        </div>'.html_safe %>
        <%= text_field_tag :restaurant_name, params[:query], placeholder: 'Paris New York', class: "restaurants-autocomplete", "data-url" => api_restaurants_path, autofocus: true %>
      <% end %>

      <!-- statut: testé ou pas ? -->

      <%= reco.input :status, :wrapper_html => { 'data-max' => '1' }, collection:[["<div class='icon-box'>#{render 'restaurants/status/recommend.svg'}</div><div class='title-label'>J'approuve</div>".html_safe, 1], ["<div class='icon-box' id='try_it'>#{render 'restaurants/status/wishlist.svg'}</div><div class='title-label'>A essayer</div>".html_safe, 2]], label:
          '<div class= "title border">
            <div class="title-middle">Statut</div>
            <div class="title-label">As-tu déjà testé le restaurant ?</div>
          </div>'.html_safe, item_wrapper_class: 'simple_form_inline', :include_hidden => false  %>

          <!-- choix des ambiances -->

      <%= reco.input :ambiences, as: :check_boxes, :wrapper_html => { 'data-max' => '2' }, collection:[["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/chic.svg'}</div><div class='title-label'>Chic</div>".html_safe, 1], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/festif.svg'}</div><div class='title-label'>Festif</div>".html_safe, 2], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/casual.svg'}</div><div class='title-label'>Casual</div>".html_safe, 6], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/ensoleille.svg'}</div><div class='title-label'>Ensoleillé</div>".html_safe, 4], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/fast.svg'}</div><div class='title-label'>Fast</div>".html_safe, 5], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/typique.svg'}</div><div class='title-label'>Typique</div>".html_safe, 3]], input_html: { class: 'multiselectuser', multiple: true}, label:
          '<div class= "title border">
            <div class="title-middle">Ambiances</div>
            <div class="title-label">Sélectionne 1 ou 2 ambiances</div>
          </div>'.html_safe, item_wrapper_class: 'simple_form_inline', :include_hidden => false  %>
          <!-- faire du ternaire pour 'border' s'il y a des params ou pas -->

          <!-- choix des points forts -->

      <%= reco.input :strengths, as: :check_boxes, :wrapper_html => { 'data-max' => '3' },
      collection:[["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/cuisine.svg'}</div><div class='title-label'>Cuisine</div>".html_safe, 1], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/service.svg'}</div><div class='title-label'>Service</div>".html_safe, 2], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/cadre.svg'}</div><div class='title-label'>Cadre</div>".html_safe, 3], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/original.svg'}</div><div class='title-label'>Original</div>".html_safe, 4], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/copieux.svg'}</div><div class='title-label'>Copieux</div>".html_safe, 5], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/vins.svg'}</div><div class='title-label'>Vins</div>".html_safe, 6], ["<div class='icon-box'>#{render 'restaurants/strengths_and_ambiences/qte_prix.svg'}</div><div class='title-label'>Qté Prix</div>".html_safe, 7]], input_html: { class: 'multiselectuser', multiple: true}, label: '<div class= "title border"><div class="title-middle">Points forts</div>
        <div class="title-label">Sélectionne 1 à 3 points forts</div></div>'.html_safe, item_wrapper_class: 'simple_form_inline', :include_hidden => false  %>

          <!-- choix des prix -->

      <%= reco.input :price_ranges, as: :check_boxes, :wrapper_html => { 'data-max' => '1' }, collection: [["<div class='icon-box'>#{render 'restaurants/price_ranges/level_1.svg'}</div><div class='title-label'>- 15 €</div>".html_safe, 1],["<div class='icon-box'>#{render 'restaurants/price_ranges/level_2.svg'}</div><div class='title-label'> 15 à 20 €</div>".html_safe, 2], ["<div class='icon-box'>#{render 'restaurants/price_ranges/level_3.svg'}</div><div class='title-label'> 20 à 30 €</div>".html_safe, 3], ["<div class='icon-box'>#{render 'restaurants/price_ranges/level_4.svg'}</div><div class='title-label'> + 30 €</div>".html_safe, 4]], label: '<div class= "title border"><div class="title-middle">Gamme de prix</div>
        <div class="title-label">Sélectionne le prix moyen <br>du <span id="plat_principal">plat principal</span></div></div>'.html_safe, item_wrapper_class: 'simple_form_inline', :include_hidden => false %>

        <!-- commentaire -->

      <%= reco.input :review, :as => :text, input_html: { id: 'field', onkeyup: 'countChar(this)'}, label: '<div class= "title border">Mot de la fin <p><span id="charNum">140</span> caractères</p></div>'.html_safe,  maxlength: 140, placeholder: "Un plat à ne pas louper?" %>

        <!-- soumission du formulaire -->

      <%= reco.submit("Partager !", class: "end-word-button strong") %>
    <% end %>
  </div>
  <script>
    function countChar(val) {
      var len = val.value.length;
      if (len > 140) {
        val.value = val.value.substring(0, 140);
      } else {
        $('#charNum').text(140 - len);
      }
    };
    mixpanel.track_forms("#form-reco", "reco_intent", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  </script>
</div>
