<div id="reco-bg">
  <h1>Ajouter une Recommandation</h1>

  <div class="form-size">
    <%= simple_form_for @recommendation, html: { id: "form-reco"} do |reco| %>

      <%= reco.input :restaurant_id, label: 'Nom du restaurant', placeholder: 'Slizze Pizza' %>

      <%= reco.input :ambiences, as: :check_boxes, :wrapper_html => { 'data-max' => '2' },
      collection:[["Chic<br>#{image_tag('chic.svg')}".html_safe, 1], ["Festif<br>#{image_tag('festif.svg')}".html_safe, 2], ["Typique<br>#{image_tag('typique.svg')}".html_safe, 3], ["En Cas de Soleil<br>#{image_tag('en-cas-de-soleil.svg')}".html_safe, 4], ["Fast & Good<br>#{image_tag('fast-and-good.svg')}".html_safe, 5]], input_html: { class: 'multiselectuser', multiple: true}, label: 'Sélectionnez 2 ambiances', :include_hidden => false %>

      <%= reco.input :strengths, as: :check_boxes, :wrapper_html => { 'data-max' => '3' },
      collection:[["Nourriture<br>#{image_tag('nourriture.svg')}".html_safe, 1], ["Service<br>#{image_tag('service.svg')}".html_safe, 2], ["Cadre<br>#{image_tag('cadre.svg')}".html_safe, 3], ["Originalite<br>#{image_tag('originalite.svg')}".html_safe, 4], ["Générosité<br>#{image_tag('generosite.svg')}".html_safe, 5], ["Carte des Vins<br>#{image_tag('carte-des-vins.svg')}".html_safe, 6], ["Rapport Qualité / Prix<br>#{image_tag('rapport-qualite-prix.svg')}".html_safe, 7]], input_html: { class: 'multiselectuser', multiple: true}, label: 'Sélectionnez 3 points forts', :include_hidden => false %>

      <%= reco.input :price, label: 'Prix du plat' %>

      <%= reco.input :review, as: :text, label: 'Commentaire' %>

      <%= reco.submit(class: "btn btn-danger") %>
    <% end %>
  </div>
</div>
