<div class= "text-center">
  <div class="message">
    <h1> Béta restreinte aux utilisateurs tests </h1>
  </div>
  <div class= "form">
    <%= simple_form_for(:verification, url: verification_code_users_path, html: { id: "form-access"})  do |f| %>
      <%= f.input :code, label: "Code d'accès" %>
      <%= f.submit "Entrer !", class: "btn btn-primary" %>
    <% end %>
  </div>
  <script>
    <% if current_user %>
      <% if current_user.sign_in_count == 1 %>
        mixpanel.identify("<%= current_user.id%>");
        mixpanel.people.set({
          "gender": "<%= current_user.gender%>",
          "name": "<%= current_user.name %>",
          "age": "<%= current_user.age_range %>",
          "$email": "<%= current_user.email %>"
        });
        mixpanel.track_forms("#form-access", "reco_view", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
      <% end %>
    <% end %>
  </script>
</div>

<!-- test -->

<form action="http://localhost:3000/api/user_wishlist_pictures.json?user_email=valentin.menard@essec.edu&user_token=6Y-zoSafp5ynxURyFkMq"
enctype="multipart/form-data" method="post">
<p>
Please specify a file, or a set of files:<br>
<input type="file" name="picture" size="40">
</p>
<div>
<input type="submit" value="Send">
</div>
</form>