<div class= "text-center">
  <div class="message">
    <h1> Béta restreinte aux utilisateurs tests </h1>
  </div>
  <div class= "form">
    <%= simple_form_for :verification, {url: verification_code_users_path}  do |f| %>
      <%= f.input :code, label: "@FacebookTester: the code is 'friend'" %>
      <%= f.submit "Entrer !", class: "btn btn-primary" %>
    <% end %>
  </div>
  <script>
    <% if current_user %>
      <% if current_user.sign_in_count == 1 %>
        mixpanel.identify("<%= current_user.id%>");
        mixpanel.people.set({
          "gender": "<%= current_user.gender%>",
          "name": "<%= current_user.name %>",
          "age": "<%= current_user.age_range %>"
        });
      <% end %>
    <% end %>
  </script>
</div>