<div class="bg">
  <h1>Profil</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class = "text-center" id ="profil">
        <div><%= image_tag(current_user.picture(:medium), class: "img-circle", id: "img-profil") %></div>
        <div><%= current_user.name %></div>
        <div><%= current_user.email %></div>
        </div>
        <div class="text-center">
          <%= link_to("Edit", edit_user_registration_path(current_user), class: "btn btn-success btn-xs btn-right") %></li>
          <br>
          <br>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Sign out" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>