<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-white">
        <div id ="profil">

          <!-- profil picture -->
          <div><%= image_tag(@user.picture, class: "", id: "img-profil") %></div>

          <!-- profil info -->
          <div class="profil-info clearfix">

            <!-- User name & reco -->
            <h2><%= @user.name %></h2>
            <p><%= Recommendation.where(user_id: @user.id).length %> <%= Recommendation.where(user_id: @user.id).count>1 ? "recos" : "reco" %></p>

          </div>

        </div>
      </div>
    </div>
  </div>

  <% if @user.recommendations.length > 0 %>
  <div class="user-reco-carousel">
    <h2 class='text-center section-title'><%= @user == current_user ? 'Mes' : 'Ses' %> Recos</h2>
    <div class="carousel">
      <% @user.my_recos.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant.id) do %>
          <div>
            <%= render 'restaurants/restaurant_profile', restaurant: restaurant, picture: restaurant.restaurant_pictures.first ? restaurant.restaurant_pictures.first.picture : restaurant.picture_url %>
  <!--           <p class="quote"><%= Recommendation.where(restaurant_id: restaurant.id, user_id: @user.id).first.review %></p> -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @user.wishes.length > 0 %>
  <div class="user-reco-carousel strong">
    <h2 class = 'text-center section-title'><%= @user == current_user ? 'Mes' : 'Ses' %>  Envies</h2>
    <div class="carousel">
      <% @user.my_wishes.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant.id) do %>
          <div>
            <%= render 'restaurants/restaurant_profile', restaurant: restaurant, picture: restaurant.restaurant_pictures.first ? restaurant.restaurant_pictures.first.picture : restaurant.picture_url %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- friend options -->
  <% if @user != current_user %>
  <% friendship = Friendship.find_by(sender_id: [current_user.id, @user.id], receiver_id: [current_user.id, @user.id]) %>
      <div class="card-white new dark">
        <div class="visibility">
          <% if ( friendship.sender_id == current_user.id && friendship.receiver_invisible == true ) || ( friendship.receiver_id == current_user.id && friendship.sender_invisible == true ) %>
            <%= form_tag visible_friendships_path, id: 'unhide_friend', method: "post" do %>
              <%= hidden_field_tag :id, value: friendship.id %>
              <button type = "submit", class = "end-word-button dark" %>
              <span class="button-icon icon-see"></span> Afficher ses recos
              </button>
            <% end %>
          <% else %>
            <%= form_tag invisible_friendships_path, id: 'hide_friend', method: "post" do %>
              <%= hidden_field_tag :id, value: friendship.id %>
              <button type = "submit", class = "end-word-button dark" %>
                <span class="button-icon icon-unsee"></span>Masquer ses recos
              </button>
            <% end %>
          <% end %>
        </div>
        <!-- retirer -->
        <div class="delete">
          <%= link_to friendship_path(friendship.id), method: :delete, class: "dark end-word-button " do %>
          <span class="button-icon icon-unfriend"></span>
          Retirer de mes amis
          <% end %>
        </div>
      </div>
  <% end %>
  <!-- end friend options -->

  <!-- modifier si c'est ma page -->
  <% if @user == current_user %>
    <div class="card-white new dark">
      <div id="action-btn">
          <!-- modify -->
          <%= link_to edit_user_registration_path, class: "end-word-button dark" do %>
          <span class="button-icon icon-modify"></span>
          <%= t ".sign_out", default: "Modifier" %>
          <% end %>
          <!-- suppress -->
          <%= link_to destroy_user_session_path, class: "end-word-button dark", method: :delete do %>
          <span class="button-icon icon-signout"></span>
          <%= t ".sign_out", default: "Me déconnecter" %>
          <% end %>
      </div>
    </div>
  <% end %>
  <!-- fin -->

</div>
<script>
//  ajouter delete friends
  mixpanel.track_forms("#hide_friend", "hide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  mixpanel.track_forms("#unhide_friend", "unhide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
</script>

