
<h1>Profil</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-white">
        <div class = "text-center" id ="profil">
          <div><%= image_tag(@user.picture, class: "img-circle padded", id: "img-profil") %></div>
          <h2><%= @user.name %></h2>
          <p><%= Recommendation.where(user_id: @user.id).length %> <%= Recommendation.where(user_id: @user.id).count>1 ? "recos" : "reco" %></p>
        </div>

        <!-- modifier si c'est ma page -->
        <% if @user == current_user %>
          <div class="text-center" id="action-btn">
            <ul class="list-inline">
              <li>
                <%= link_to("Modifier", edit_user_registration_path, class: "btn btn-success btn-xs btn-right") %></li>
              </li>
              <li>
                <%= link_to destroy_user_session_path, class: "btn btn-success btn-xs", method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Se Déconnecter" %>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <!-- fin -->
      </div>
    </div>
  </div>
  <h2 class = 'text-center'>Recommandations</h2>
<!--   <div class="carousel"> -->
    <% @user.my_restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant.id) do %>
        <div class="card-white">
          <%= render 'restaurants/restaurant_profile', restaurant: restaurant, picture: restaurant.restaurant_pictures.first ? restaurant.restaurant_pictures.first.picture : restaurant.picture_url %>
<!--           <p class="quote"><%= Recommendation.where(restaurant_id: restaurant.id, user_id: @user.id).first.review %></p> -->
        </div>
      <% end %>
    <% end %>
<!--   </div> -->
  <% if @user != current_user %>
  <% friendship = Friendship.find_by(sender_id: [current_user.id, @user.id], receiver_id: [current_user.id, @user.id]) %>
      <div class="card-white">
        <div class="visibility">
          <% if ( friendship.sender_id == current_user.id && friendship.receiver_invisible == true ) || ( friendship.receiver_id == current_user.id && friendship.sender_invisible == true ) %>
            <%= form_tag visible_friendships_path, id: 'unhide_friend', method: "post" do %>
              <%= hidden_field_tag :id, value: friendship.id %>
              <%= submit_tag "Voir à Nouveau", class: "btn-xs btn-success" %>
            <% end %>
          <% else %>
            <%= form_tag invisible_friendships_path, id: 'hide_friend', method: "post" do %>
              <%= hidden_field_tag :id, value: friendship.id %>
              <%= submit_tag "Ne plus voir", class: "btn-xs btn-danger" %>
            <% end %>
          <% end %>
        </div>
        <div class="delete">
          <%= link_to "Retirer", friendship_path(friendship.id), method: :delete, class: "btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
//  ajouter delete friends
  mixpanel.track_forms("#hide_friend", "hide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  mixpanel.track_forms("#unhide_friend", "unhide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
</script>

