
<h1>Profil</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-white">
        <div class = "text-center" id ="profil">
          <div><%= image_tag(current_user.picture(:medium), class: "img-circle padded", id: "img-profil") %></div>
          <h2><%= current_user.name %></h2>
          <p><%= current_user.email %></p>
        </div>
        <div class="text-center" id="action-btn">
          <ul class="list-inline">
            <li>
              <%= link_to("Modifier", edit_user_registration_path, class: "btn btn-success btn-xs btn-right") %></li>
            </li>
            <li>
              <%= link_to destroy_user_session_path, class: "btn btn-success btn-xs", method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Se Déconnecter" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-white text-center">
        <h2 class= "padded">Mes amis</h2>
        <div class="multiple-caroussel">
          <% if current_user.my_friends.count > 0 %>
            <% current_user.my_friends.each do |friend| %>
              <div class="slick_icon">
                <%= image_tag(friend.picture(:thumb), class: "img-circle img_friend ") %>
                <%= friend.name.split(' ').first %>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= link_to("Gérer mes amis", friendships_path, class: "btn btn-danger") %>
      </div>
    </div>
  </div>
</div>