<div class="footer_bis">
  <div class="container">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-2">
        <div class="nav-icone nav-home">
          <%= link_to restaurants_path do %>
           <%= image_tag "home-white.svg" %>
           <p>Accueil</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="nav-icone nav-friend">
          <%= link_to friendships_path do %>
           <%= image_tag "new-friend-white.svg" %>
           <p>Amis</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="nav-icone nav-reco">
          <%= link_to new_recommendation_path do %>
           <%= image_tag "new-restaurant-white.svg" %>
           <p>Recommande</p>
          <% end %>
        </div>
      </div>
       <div class="col-xs-2">
        <div class="nav-icone nav-notif">
          <%= link_to recommendations_path do %>
           <%= image_tag "notif-white.svg" %>
           <p>Notif</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="nav-icone nav-profil">
          <%= link_to user_path(:id) do %>
            <%= image_tag "account-white.svg" %>
            <p>Profil</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
  </div>
</div>


