<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item sidebar-nav">
    <p id="titre">Rechercher des Restaurants
      <a href="" class="button-icon icon-return"></a>
    </p>
  </div>

  <nav class="sidebar-nav" id="sidebar-text">
    <%=simple_form_for :query, { url: restaurants_path, method: :get, class: "sidebar-form sidebar-item", id: "search-form" }  do |f| %>

      <%= f.input :price_range, collection: [["-15€", 1], ["15 - 20 €", 2], ["20 - 30 €", 3], ["+30 €", 4]], label: 'catégorie de prix', prompt: "toutes", id: "price_range" %>

      <%= f.input :food, collection: current_user.my_friends_foods, label: 'Style de Cuisine', prompt: "Je mange de tout", id: "food" %>
      <%= f.input :friend, collection: User.where(id: current_user.my_visible_friends_ids).order(:name), label: 'Vos amis', prompt: "Tous mes amis", id: "friend" %>
      <%= f.input :subway, collection: current_user.my_friends_subways.order(:name), label: 'Station métro', prompt: "N'importe où", id: "subway" %>
      <%= f.input :ambience, collection: [["chic", 1], ["festif", 2], ["traditionnel", 3], ["terrasse", 4], ["fast", 5], ["bonne franquette", 6], ["romantique", 7]], label: 'ambiance', prompt: 'toute ambiance', id: "ambience" %>
      <%= f.input :occasion, collection: [["Rdv Galant", 1], ["Entre Amis", 2], ["En Famille", 3], ["Business", 4], ["Brunch", 5], ["Grandes Tablees", 6]], label: 'occasion', prompt: 'toute occasion', id: "occasion" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%=f.submit("Chercher", class: "btn btn-danger") %>
    <% end %>
  </nav>
</div>