<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->

<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Recherche de Restaurants</p>
  </div>

  <nav class="sidebar-nav">
    <%=simple_form_for :query, { url: restaurants_path, method: :get, class: "sidebar-form", id: "search-form" }  do |f| %>

      <%= f.input :price, label: 'Prix du plat', prompt: "Quel prix max ?" %>
      <%= f.input :food, collection: Food.all, label: 'Style de Cuisine', prompt: "Quel type ?" %>
      <%= f.input :ambiences, as: :check_boxes,
      collection:[["Chic", 1], ["Festif", 2], ["Typique", 3], ["En Cas de Soleil", 4], ["Fast & Good", 5]], input_html: { class: 'multiselectuser', multiple: true}, label: 'Ambiances' %>
      <%= f.input :strengths, as: :check_boxes,
      collection: [["Nourriture", 1], ["Service", 2], ["Cadre", 3], ["Originalite", 4], ["Générosité", 5], ["Carte des Vins", 6], ["Rapport Qualité / Prix", 7]], input_html: { class: 'multiselectuser', multiple: true}, label: 'Points Forts' %>
      <%=f.submit("Chercher", class: "btn btn-danger") %>
    <% end %>
  </nav>

  <div class="sidebar-item">
    <p>
      All rights reserved.
    </p>
  </div>
</div>


