<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item sidebar-nav">
    <p id="titre">Rechercher des Restaurants</p>
  </div>

  <nav class="sidebar-nav" id="sidebar-text">
    <%=simple_form_for :query, { url: restaurants_path, method: :get, class: "sidebar-form sidebar-item", id: "search-form" }  do |f| %>

      <%= f.input :price, label: 'Prix du plat', placeholder: "Quel prix max ?", id: "price" %>
      <%= f.input :food, collection: current_user.my_friends_foods, label: 'Style de Cuisine', prompt: "Quel type ?", id: "food" %>
      <%= f.input :friend, collection: User.where(id: current_user.my_visible_friends_ids + [current_user.id]).order(:name), label: 'Vos amis', prompt: "Avis en particulier ?", id: "friend" %>
      <%= f.input :subway, collection: current_user.my_friends_subways.order(:name), label: 'Station métro', prompt: "Un lieu de rdv ?", id: "subway" %>
      <%=f.submit("Chercher", class: "btn btn-danger") %>
    <% end %>
  </nav>
</div>