<h1>Mes amis</h1>

<div class="container">
  <% current_user.my_friends.each do |friend| %>
    <% friendship = current_user.senders.find(friend.id) == friend ? Friendship.includes([:sender, :receiver]).where("sender_id = ? AND receiver_id = ?",  friend.id, current_user.id).first : Friendship.includes([:sender, :receiver]).where("sender_id = ? AND receiver_id = ?",  current_user.id, friend.id).first %>

    <div class="friend card-white">
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag friend.picture, class: "img-circle" %>
        </div>
        <div class="col-xs-6 infos">
          <h2><%= friend.name %></h2>
          <p><%= Recommendation.where(user_id: friend.id).count %> recos</p>
        </div>
        <div class="col-xs-3">
          <div class="delete">
            <%= link_to "Retirer", friendship_path(friendship.id), method: :delete, class: "btn-xs btn-danger"  %>
          </div>
          <div class="visibility">
            <% if ( friendship.sender_id == current_user.id && friendship.receiver_invisible == true ) || ( friendship.receiver_id == current_user.id && friendship.sender_invisible == true ) %>
              <%= form_tag visible_friendships_path, method: "post" do %>
                <%= hidden_field_tag :id, value: friendship.id %>
                <%= submit_tag "Voir à Nouveau", class: "btn-xs btn-success" %>
              <% end %>
            <% else %>
              <%= form_tag invisible_friendships_path, method: "post" do %>
                <%= hidden_field_tag :id, value: friendship.id %>
                <%= submit_tag "Ne plus voir", class: "btn-xs btn-danger" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>