<h1>Mes amis</h1>
<%= link_to 'add a friend', new_friendship_path, id: 'link_to_add' %>

<div id="accept_or_refuse_friends">
  <div class="container">
    <% if User.where(id: current_user.my_requests_received_ids).count > 0 %>
      <div class="carousel">
        <% User.where(id: current_user.my_requests_received_ids).each do |friend| %>
        <% friendship = Friendship.find_by(sender_id: friend.id, receiver_id: current_user.id) %>
            <div>
              <div class="card-white-mini">
                <%= image_tag friend.picture, class: "img-circle" %>
                <p><%= friend.name %><br><span class="new-reco"><%= Recommendation.where(user_id: friend.id).count %> recos</span></p>
              <div class="row accept_or_refuse">
                <div class="col-xs-6 text-right">
                  <%= form_tag answer_request_friendships_path, id: 'refuse_friend', method: "post" do %>
                    <%= hidden_field_tag :accepted, value: false %>
                    <%= hidden_field_tag :id, value: friendship.id %>
                    <%= submit_tag "Refuser", class: "button-refuse" %>
                  <% end %>
                </div>
                <div class="col-xs-6 text-left">
                  <%= form_tag answer_request_friendships_path, id: 'accept_friend', method: "post" do %>
                    <%= hidden_field_tag :accepted, value: true %>
                    <%= hidden_field_tag :id, value: friendship.id %>
                    <%= submit_tag "Accepter", class: "button-accept" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <% User.where(id: current_user.my_friends_ids).each do |friend| %>
  <% friendship = Friendship.find_by(sender_id: [current_user.id, friend.id], receiver_id: [current_user.id, friend.id]) %>

    <div class="friend card-white">
      <div class="row">
        <%= link_to user_path(friend.id) do %>
          <div class="col-xs-3">
              <%= image_tag friend.picture, class: "img-circle" %>
          </div>
          <div class="col-xs-6 infos">
            <h2><%= friend.name %></h2>
            <p><%= Recommendation.where(user_id: friend.id).count %> recos</p>
          </div>
        <% end %>
        <div class="col-xs-3">
          <div class="delete">
            <%= link_to "Retirer", friendship_path(friendship.id), method: :delete, class: "btn-xs btn-danger" %>
          </div>
          <div class="visibility">
            <% if ( friendship.sender_id == current_user.id && friendship.receiver_invisible == true ) || ( friendship.receiver_id == current_user.id && friendship.sender_invisible == true ) %>
              <%= form_tag visible_friendships_path, id: 'unhide_friend', method: "post" do %>
                <%= hidden_field_tag :id, value: friendship.id %>
                <%= submit_tag "Voir à Nouveau", class: "btn-xs btn-success" %>
              <% end %>
            <% else %>
              <%= form_tag invisible_friendships_path, id: 'hide_friend', method: "post" do %>
                <%= hidden_field_tag :id, value: friendship.id %>
                <%= submit_tag "Ne plus voir", class: "btn-xs btn-danger" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <script>
    // ajouter tracker pour delete
    mixpanel.track_forms("#hide_friend", "hide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
    mixpanel.track_forms("#unhide_friend", "unhide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  </script>
</div>