<h1>Mes amis</h1>
<div class="button-add">
  <%= link_to 'add a friend', new_friendship_path, id: 'link_to_add' %>
</div>

<div id="accept_or_refuse_friends">
  <div class="container">
    <% if User.where(id: current_user.my_requests_received_ids).count > 0 %>
      <div class="carousel">
        <% User.where(id: current_user.my_requests_received_ids).each do |friend| %>
        <% friendship = Friendship.find_by(sender_id: friend.id, receiver_id: current_user.id) %>
            <div>
              <div class="card-white-mini">
                <%= image_tag friend.picture, class: "img-circle" %>
                <p><%= friend.name %><br><span class="recos"><%= Recommendation.where(user_id: friend.id).count %> recos</span></p>
              <div class="row accept_or_refuse">
                <div class="col-xs-6 text-right">
                  <%= form_tag answer_request_friendships_path, id: 'refuse_friend', method: "post" do %>
                    <%= hidden_field_tag :accepted, value: false %>
                    <%= hidden_field_tag :id, value: friendship.id %>
                    <%= submit_tag "Refuser", class: "button-refuse" %>
                  <% end %>
                </div>
                <div class="col-xs-6 text-left">
                  <%= form_tag answer_request_friendships_path, id: 'accept_friend', method: "post" do %>
                    <%= hidden_field_tag :accepted, value: true %>
                    <%= hidden_field_tag :id, value: friendship.id %>
                    <%= submit_tag "Accepter", class: "button-accept" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="box">
  <% User.where(id: current_user.my_friends_ids).each do |friend| %>
  <% friendship = Friendship.find_by(sender_id: [current_user.id, friend.id], receiver_id: [current_user.id, friend.id]) %>
    <div class="friend card-white">
      <%= link_to user_path(friend.id) do %>
        <%= image_tag friend.picture %>
        <h2><%= friend.name.split(" ")[0] %><span><%= Recommendation.where(user_id: friend.id).count %> recos</span></h2>
        <p>Voir le profil</p>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  // ajouter tracker pour delete
  mixpanel.track_forms("#hide_friend", "hide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  mixpanel.track_forms("#unhide_friend", "unhide_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
</script>