<% for user in @users %>
  <div class="user">
    <p>
      <strong><%= user.name %></strong>
      <%= bootstrap_form_for(@friendship, class: 'form') do |f| %>
      <!-- comment est-ce que c'est relié avec create? -->
        <%= f.hidden_field :receiver_id, :value => user.id %>
        <%= f.hidden_field :sender_id, :value => current_user.id %>
        <%= f.hidden_field :accepted, :value => true %>
        <%= f.submit class: "btn btn-default", value: "Add as a friend" %>
      <% end %>

    </p>
  </div>
<% end %>

<div class="container">
  <div class="col-xs-12" id="propositions">
    <% if @friendships[:user_propositions].count > 0 %>
      <ul class="list-unstyled">
        <% @friendships[:user_propositions].each do |user| %>
          <li>
            <div class="row myfriends">
              <div class="col-xs-8 col-xs-offset-2">
                <%= image_tag(user.picture, class: "img-circle img-thumbnail") %>
              </div>
              <div class="col-xs-8 col-xs-offset-2">
                <%= user.name %>
              </div>
            </div>
            <div class="row accept-refuse">
              <div class="col-xs-6 text-right">
                <%= form_tag answer_request_friendships_path, :method => "post" do %>
                <%= hidden_field_tag "accepted", "true" %>
                <%= submit_tag "Accept", class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="col-xs-6 text-left">
                <%= form_tag answer_request_friendships_path, :method => "post" do %>
                <%= hidden_field_tag "accepted", "false" %>
                <%= submit_tag "Refuse", class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p> Hey, <%= current_user.name %> you have no friend request ! </p>
    <% end %>
  </div>
</div>