<h1>Mes amis</h1>
<div class="button-add">
  <%= link_to 'Ajouter un ami', new_friendship_path, class: "btn-special", id: 'link_to_add' %>
</div>

<div id="accept_or_refuse_friends">
  <div class="container">
    <% if @requests_received.count > 0 %>
      <div class="carousel">
        <% @requests_received.each do |friend| %>
        <% friendship = Friendship.find_by(sender_id: friend.id, receiver_id: current_user.id) %>
            <div>
              <div class="card-white-mini">
                <%= image_tag friend.picture, class: "img-circle" %>
                <p><%= friend.name %><br><span class="recos"><%= Recommendation.where(user_id: friend.id).count %> <%= Recommendation.where(user_id: friend.id).count>1 ? "recos" : "reco" %></span></p>
              <div class="row accept_or_refuse">
                <div class="col-xs-6">
                  <%= form_tag answer_request_friendships_path, id: 'refuse_friend', method: "post" do %>
                    <%= hidden_field_tag :accepted, value: false %>
                    <%= hidden_field_tag :id, value: friendship.id %>
                    <%= submit_tag "Refuser", class: "button-refuse" %>
                  <% end %>
                </div>
                <div class="col-xs-6">
                  <%= form_tag answer_request_friendships_path, id: 'accept_friend', method: "post" do %>
                    <%= hidden_field_tag :accepted, value: true %>
                    <%= hidden_field_tag :id, value: friendship.id %>
                    <%= submit_tag "Accepter", class: "button-accept" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="box">
  <% @friends.each do |friend| %>
  <% friendship = Friendship.find_by(sender_id: [current_user.id, friend.id], receiver_id: [current_user.id, friend.id]) %>
    <div class="friend card-white clearfix">
      <%= link_to user_path(friend.id) do %>
        <%= image_tag friend.picture %>
        <h2><%= friend.name.split(" ")[0] %><br><span><%= Recommendation.where(user_id: friend.id).count %> <%= Recommendation.where(user_id: friend.id).count>1 ? "recos" : "reco" %></span></h2>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  mixpanel.track_forms("#accept_friend", "accept_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  mixpanel.track_forms("#refuse_friend", "refuse_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  mixpanel.track_links("#link_to_add", "add_friends_page", { "user": "<%= current_user.name %>", "browser": "<%= browser.name %>"});
</script>