<h1>Ajouter des Amis</h1>

<div id="ask_for_friends">
  <div class="container">
    <h2 class = 'text-center'>Ils sont aussi sur Needl !</h2>
    <% if @new_potential_friends.count > 0 %>
      <div class="carousel">
        <% @new_potential_friends.each do |user| %>
          <div>
            <div class="card-white-mini padded", id="friends-card">
              <%= image_tag user.picture, class: "img-circle" %>
              <p><%= user.name %><br><span class="recos">
                <% if Recommendation.where(user_id: user.id).count > 0 %><%= Recommendation.where(user_id: user.id).count %> <%= Recommendation.where(user_id: user.id).count>1 ? "recos" : "reco" %></span></p>
                <%end%>
              <div class="row add_or_not">
                <div class="col-xs-6">
                  <%= bootstrap_form_for(@not_interested_relation, class: 'form') do |f| %>
                    <%= f.hidden_field :member_one_id, value: user.id %>
                    <%= f.hidden_field :member_two_id, value: current_user.id %>
                    <%= f.submit class: "button-refuse", value: "Ignorer" %>
                  <% end %>
                </div>
                <div class="col-xs-6">
                  <%= bootstrap_form_for(@friendship, class: 'form') do |f| %>
                    <%= f.hidden_field :receiver_id, value: user.id %>
                    <%= f.hidden_field :sender_id, value: current_user.id %>
                    <%= f.hidden_field :accepted, value: false %>
                    <%= f.submit class: "button-accept", value: "Ajouter" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
    <div class="text-center">
      <h3> Tu n'as pas d'autres amis connectés sur Needl, parles-en autour de toi !</h3>
<!--         <%= link_to 'Inviter un ami', '#', class: "btn btn-primary", id:'invitation' %> -->
      <br />
      <br>
      <br>
      <%= image_tag "come_in.gif", class: 'gif img-circle' %>
    <% end %>
    </div>
  </div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1624037477816607',
        xfbml      : true,
        version    : 'v2.3'
      });
      $("#invitation").on("click", function() {
        FB.ui({
          method: 'send',
          link: 'http://www.needl.fr/users/sign_in',
        });
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  </script>
  <script>
    mixpanel.track_forms("#new_friendship", "add_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
    mixpanel.track_forms("#new_not_interested_relation", "ignore_friend", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>" });
  </script>
</div>



