<h1>Ajouter des Amis</h1>

<div id="accept_or_refuse_friends">
  <div class="container">
    <% if @friendships[:user_propositions].count > 0 %>
      <h2 class = 'text-center'>Ils t'ont invité</h2>
      <div class="caroussel">
        <% @friendships[:user_propositions].each do |hash| %>
            <div>
              <div class="card-white-mini padded">
                <%= image_tag hash[:friendship_user].picture, class: "img-circle" %>
                <%= hash[:friendship_user].name %>
              <div class="row accept_or_refuse">
                <div class="col-xs-6 text-right">
                  <%= form_tag answer_request_friendships_path, method: "post" do %>
                    <%= hidden_field_tag :accepted, value: true %>
                    <%= hidden_field_tag :id, value: hash[:friendship_relation].id %>
                    <%= submit_tag "Accepter", class: "btn-xs btn-success" %>
                  <% end %>
                </div>
                <div class="col-xs-6 text-left">
                  <%= form_tag answer_request_friendships_path, method: "post" do %>
                    <%= hidden_field_tag :accepted, value: false %>
                    <%= hidden_field_tag :id, value: hash[:friendship_relation].id %>
                    <%= submit_tag "Refuser", class: "btn-xs btn-danger" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="ask_for_friends">
  <div class="container">
    <h2 class = 'text-center'>Ils sont aussi sur Needl !</h2>
    <% if @new_potential_friends.count > 0 %>
      <div class="caroussel">
        <% for user in @new_potential_friends %>
          <div>
            <div class="card-white-mini padded", id="friends-card">
              <%= image_tag user.picture, class: "img-circle" %>
              <%= user.name %>
              <div class="row add_or_not">
                <div class="col-xs-6 text-right">
                  <%= bootstrap_form_for(@friendship, class: 'form') do |f| %>
                    <%= f.hidden_field :receiver_id, value: user.id %>
                    <%= f.hidden_field :sender_id, value: current_user.id %>
                    <%= f.hidden_field :accepted, value: false %>
                    <%= f.submit class: "btn-xs btn-success", value: "Ajouter" %>
                  <% end %>
                </div>
                <div class="col-xs-6 text-left">
                  <%= bootstrap_form_for(@not_interested_relation, class: 'form') do |f| %>
                    <%= f.hidden_field :member_one_id, value: user.id %>
                    <%= f.hidden_field :member_two_id, value: current_user.id %>
                    <%= f.submit class: "btn-xs btn-danger", value: "Ignorer" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
    <div class="text-center">
      <h3> Tu n'as pas d'autres amis connectés sur Needl, parles-en autour de toi !</h3>
      <br>
      <br>
      <%= image_tag "come_in.gif", class: 'gif img-circle' %>
    <% end %>
    </div>

  </div>
</div>



