<div class="logo">
  <%= image_tag "identite-finale.png" %>
</div>

<div class="title">
  <h2>Découvrez les restaurants parisiens préférés de vos amis</h2>
</div>

<div class="socialDiv">
  <div class="left">
    <%= link_to "https://itunes.apple.com/fr/app/id1027312535", class: "left", id: 'appstore_redirection' do %>
      <%= image_tag "apple_logo.png" %>
      <button type="button" class="apple-button">Par ici !</button>
    <% end %>
  </div>
  <div class="right">
    <%= image_tag "android_logo.png" %>

    <div class= "form">
    	<form action='/subscribers' class="form-inline" id="mailing_android" method="post">
      	<input name="email" type="text" class="form-input" placeholder="votre email">
      	<input type="submit" value="A venir !" class="android-button">
    	</form>
    	<p id="message">Etre averti du lancement sur Androïd</p>
  	</div>
	</div>
</div>

<div class="social">
  <%= link_to "https://www.facebook.com/getneedl", class: "left", id: 'facebook_redirection' do %>
    <%= image_tag "facebook_white.png" %>
  <% end %>

  <%= link_to "https://instagram.com/needlapp/", class: "right", id: 'instagram_redirection' do %>
    <%= image_tag "instagram_white.png" %>
  <% end %>

</div>

<div class="facebook-connect">
  <%= render "devise/shared/links" %>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, t(".sign_in", default: "Se Connecter"), class: "btn btn-primary" %>
<% end %>

<div class="mixpanel">
  <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
</div>

<script>
  $(document).ready(function() {
    if (window.location.search.indexOf('subscribed=true') > -1) {
      $('#message').html('Nous faisons au plus vite !');
    }
    mixpanel.track("landing page viewed");
    mixpanel.track_forms("#mailing_android", "Submitted mail Android");
    mixpanel.track_links("#appstore_redirection", "Redirection AppStore");
    mixpanel.track_links("#facebook_redirection", "Redirection Facebook");
    mixpanel.track_links("#instagram_redirection", "Redirection Instagram");
  });
</script>