<div class='section1'>
  <div class='banner'>
    <div class='left'>
      <%= image_tag 'logo_white.png' %>
      <span>
        <%= link_to 'A PROPOS', '#' %>
      </span>
      <span>
        <%= link_to 'CONTACT', '#' %>
      </span>
      <span>
        <%= link_to 'LE BLOG', 'http://blog.needl.fr' %>
      </span>
    </div>
    <div class='right'>
      <%= link_to 'https://www.facebook.com/getneedl/', {target: 'blank'} do %>
        <i class='fa fa-facebook'></i>
      <% end %>
      <%= link_to 'https://twitter.com/needlapp/', {target: 'blank'} do %>
        <i class='fa fa-twitter'></i>
      <% end %>
      <%= link_to 'https://www.instagram.com/needlapp/', {target: 'blank'} do %>
        <i class='fa fa-instagram'></i>
      <% end %>
    </div>
  </div>
  <div class='content'>
    <div class='preview'>
      <%= image_tag 'demo.gif' %>
    </div>
    <div class='infos'>
      <div class='title'>NE LAISSE PLUS LES LONGUES JOURNÉES GÂCHER TES SOIRÉES</div>
      <div class='subtitle'>Needl, la première app pour trouve en toute confiance où dîner en moins de 5 minutes</div>
      <div class='download'>
        <%= link_to 'https://itunes.apple.com/fr/app/id1027312535', {target: 'blank'} do %>
          <%= image_tag 'download-ios.png' %>
        <% end %>
        <%= link_to 'https://play.google.com/apps/testing/com.needlios', {target: 'blank'} do %>
          <%= image_tag 'download-android.png' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='section2'>
  <div class='speed'>
    <%= image_tag 'speed.png' %>
    <h1>Rapidité</h1>
    <p>Trouve le restaurant qu’il te faut en moins d’une minute</p>
  </div>
  <div class='trust'>
    <%= image_tag 'trust.png' %>
    <h1>Confiance</h1>
    <p>Accède aux restaurants que te recommande tes amis et les infleunceurs que tu suis</p>
  </div>
  <div class='social'>
    <%= image_tag 'social.png' %>
    <h1>Social</h1>
    <p>Partage tes restaurants avec tes amis et remercie-les de t’avoir fait découvrir un restaurant</p>
  </div>
</div>
<div class='section3'>
  <h1>Ils parlent de nous</h1>
  <div class='logos'>
    <%= link_to 'http://bfmbusiness.bfmtv.com/mediaplayer/video/needl-part-a-la-recherche-des-bons-restos-recommandes-par-vos-amis-2704-802806.html', {target: 'blank'} do %>
      <%= image_tag 'bfm.png' %>
    <% end %>
    <%= link_to 'http://www.gqmagazine.fr/culture-web/smartphone/diaporama/20-applis-food-a-avoir-dans-son-smartphone/31112#pour-faire-comme-vos-amis-needl', {target: 'blank'} do %>
      <%= image_tag 'gq.png' %>
    <% end %>
    <%= link_to 'http://www.challenges.fr/challenges-soir/20160331.CHA7091/start-up-hec-et-l-ecole-42-cet-etonnant-cocktail-pour-deceler-des-talents.html', {target: 'blank'} do %>
      <%= image_tag 'challenges.png' %>
    <% end %>
    <div class='hidden'>
      <%= link_to 'https://itunes.apple.com/fr/app/id1027312535', {target: 'blank'} do %>
        <%= image_tag 'lexpress.png' %>
      <% end %>
    </div>
  </div>
  <div class='citations'>
    <div class='portanelli'>
      <div class='inner'>
        <div class='image'>
          <%= image_tag 'portanelli.jpg' %>
        </div>
        <div class='review'>
          <span class='comment'>
            « Needl allie la fiabilité du bouche à oreille à l’efficacité du digital comme cela n’a jamais été fait auparavant »
          </span>
          <span class='author'>
            Arnaud Portanelli, fondateur de Lingueo.
          </span>
        </div>
      </div>
    </div>
    <div class='houdebine'>
      <div class='inner'>
        <div class='image'>
          <%= image_tag 'houdebine.jpg' %>
        </div>
        <div class='review'>
          <span class='comment'>
            « Needl est le moyen le plus efficace et le plus rapide de trouver un restaurant qui vous plaira pour passer une bonne soirée »
          </span>
          <span class='author'>
            Vincent Houdebine, CEO de Tiresio.
          </span>
        </div>
      </div>
    </div>
    <div class='farber'>
      <div class='inner'>
        <div class='image'>
          <%= image_tag 'farber.jpg' %>
        </div>
        <div class='review'>
          <span class='comment'>
            « Needl a trouvé la clé pour contrer les situations structurelles de faux avis »
          </span>
          <span class='author'>
            Dimitri Farber, CEO de Tiller Systems.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='section4'>
  <p>A très vite sur Needl !</p>
</div>

<div class="facebook-connect">
  <%= render "devise/shared/links" %>
</div>

<div class="mixpanel">
  <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
</div>

<script>
  $(document).ready(function() {
    mixpanel.track("landing page viewed");
    mixpanel.track_links("#playstore_redirection", "Redirection Play Store");
    mixpanel.track_links("#appstore_redirection", "Redirection AppStore");
    mixpanel.track_links("#twitter_redirection", "Redirection Twitter");
    mixpanel.track_links("#facebook_redirection", "Redirection Facebook");
    mixpanel.track_links("#instagram_redirection", "Redirection Instagram");
  });
</script>