<div>
  <div id="image_field" style="background: url(<%= @restaurant.restaurant_pictures.first.picture.url %>); background-repeat:no-repeat; background-size:cover">
    <div id="text-left">
     <h2><%= @restaurant.name %></h2>
     <h2><%= Food.find(@restaurant.food_id).name %></h2>
     <h3><%= @restaurant.number %> recos</h3>
    </div>
    <div id="text-right">
     <h2><%= @restaurant.price %> €</h2>
    </div>
  </div>

  <div id="ambiences">
   <div class="container">
     <div class="row text-center">
       <h2>Ambiance</h2>
     </div>
     <%= render "block", block: @restaurant.ambiences %>
   </div>
  </div>

  <div id="strengths">
   <div class="container">
     <div class="row text-center">
       <h2>Points forts</h2>
     </div>
     <%= render "block", block: @restaurant.strengths %>
   </div>
  </div>

  <div id="mots_de_la_fin">
    <h2>Mots de la fin</h2>
    <div>
      <% @restaurant.recommendations.each do |reco| %>
        <%= image_tag User.find(reco.user_id).picture.url(:thumb), class: "img-circle" %>
        <%= reco.review %>
      <% end %>
    </div>

  </div>
</div>


