<div class="text-center">
  <div id="image_field" style="background: url(<%= @restaurant.restaurant_pictures.first.picture.url %>); background-repeat:no-repeat; background-size:cover">
    <h2><%= @restaurant.name %></h2>
      <h2><%= Food.find(@restaurant.food_id).name %></h2>
      <h2><%= @restaurant.price %> €</h2>

    <p><%= @restaurant.number %> recommandations</p>
  </div>

  <div id="ambiences">
    <h2>Ambiance</h2>
    <% @restaurant.ambiences.each do |name,ids|%>
      <p>
          <%= image_tag "#{name}.svg" %>
          <%= name %>
          <% ids.each do |id| %>
            <%= image_tag User.find(id.to_i).picture.url(:thumb), class: "img-circle" %>
          <% end %>
      </p>
    <% end %>
  </div>

  <div id="strengths">
    <h2>Points forts</h2>
    <% @restaurant.strengths.each do |name,ids|%>
      <p>
        <%= image_tag "#{name}.svg" %>
        <%= name %>
        <%= ids.length %>
        <% ids.each do |id| %>
          <%= image_tag User.find(id.to_i).picture.url(:thumb), class: "img-circle" %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div id="mots_de_la_fin">
    <h2>Mots de la fin</h2>
    <div>
      <% @restaurant.recommendations.each do |reco| %>
        <%= image_tag User.find(reco.user_id).picture.url(:thumb), class: "img-circle" %>
        <%= reco.review %>
      <% end %>
    </div>

  </div>
</div>


