<div>
  <div id="image_field" style="background: url(<%= image_path(@picture) %>); background-repeat:no-repeat; background-size:cover; background-position:50% 50%">
    <div id="text-left">
      <h1><%= @restaurant.name %></h1>
      <h3><%= Food.find(@restaurant.food_id).name %></h3>
      <% if @restaurant.number_from_my_friends(current_user) < 2 %>
        <h3><span class="label label-success"><%= @restaurant.number_from_my_friends(current_user) %> reco </span></h3>
      <% else %>
        <h3><span class="label label-success"><%= @restaurant.number_from_my_friends(current_user) %> recos </span></h3>
      <% end %>
    </div>
    <div id="text-right">
     <h2><%= @restaurant.price %> €</h2>
    </div>
  </div>

  <div id="ambiences">
    <div class="container">
      <div class="row text-center">
        <h2>Ambiance</h2>
      </div>
      <%= render "block_bis", block: @restaurant.ambiences_from_my_friends(current_user), ambience_or_strength: "ambience" %>
    </div>
  </div>

  <div id="strengths">
    <div class="container">
      <div class="row text-center">
        <h2>Points forts</h2>
      </div>
      <%= render "block_bis", block: @restaurant.strengths_from_my_friends(current_user), ambience_or_strength: "strength" %>
    </div>
  </div>

  <div id="mots_de_la_fin" class="text-center">
    <div class="container">
      <h2>Mots de la fin</h2>
      <div class="caroussel">
        <% @restaurant.reviews_from_my_friends(current_user).each do |friend_id, content_and_date| %>
          <div class= "padded">
              <%= image_tag User.find(friend_id).picture, class: "img-circle avatar img-responsive" %>
              <p>" <%= content_and_date[0] %> "</p>
          </div>
        <% end %>
      </div>
      <%= link_to "Contacter #{@restaurant.name}", "tel:#{@restaurant.phone_number}", class: "btn btn-danger", id:"call" %>
    </div>
  </div>
  <script>
    mixpanel.track_links("#call", "call", {
        "user": "<%= current_user.name %>", "restaurant": "<%= @restaurant.name %>", "browser": "<%= browser.name %>"
    });
    mixpanel.track("restaurant_page", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>"});
  </script>
</div>


