<div>
  <!-- Restaurant About -->
  <div class="carousel">
    <% @pictures.each do |picture| %>
      <%= render "restaurant_profile", restaurant: @restaurant, picture: picture %>
    <% end %>
  </div>
  <!-- Reservation -->

  <div class="contact-restaurant clearfix <%= Recommendation.where(user_id: current_user.my_visible_friends_ids_and_me, restaurant_id: @restaurant.id).length == 0 ? 'white-background' : 'grey-background'%>">
    <p>Réserver une table</p>
    <%= link_to "Appeler", "tel:#{@restaurant.phone_number}", class: "btn btn-danger", id:"call" %>
  </div>

  <% if Recommendation.where(user_id: current_user.my_visible_friends_ids_and_me, restaurant_id: @restaurant.id).length > 0 %>
  <!-- Final word -->

    <div id="mots_de_la_fin" class="text-center">
      <div class="container">
        <div class="title">Ils l'ont recommandé</div>

        <div class="end-word clearfix slider-nav">
          <% @restaurant.reviews_from_my_friends(current_user).each do |friend_id, content_and_date| %>
            <div class="end-word-people">
              <%= image_tag User.find(friend_id).picture, class: "img-circle avatar img-responsive" %>
            </div>
          <%end%>
        </div>

        <div class="end-word-quote slider-for">
          <% @restaurant.reviews_from_my_friends(current_user).each do |friend_id, content_and_date| %>
            <div>
             <!-- <span class="end-quote-arrow"></span> -->
              <%= content_and_date[0] %>
             <span class="end-quote-name"><%= "#{User.find(friend_id).name.split(" ")[0]} #{User.find(friend_id).name.split(" ")[1]? User.find(friend_id).name.split(" ")[1].first : ''}."%></span>
            </div>
          <% end %>
        </div>
        <% if Recommendation.where(user_id: current_user.id, restaurant_id: @restaurant.id).length == 0 %>
          <%= link_to new_recommendation_path(restaurant_id: @restaurant.id, restaurant_origin: 'db', restaurant_name: @restaurant.name), class: 'end-word-button' do %>
            <span class="button-icon icon-reco-recommend"></span>
            J'approuve !
          <% end %>
        <% end %>
      </div>
    </div>

  <!-- Ambiences -->

    <div id="ambiences">
      <div class="container">
        <div class="title">Ambiances</div>

        <!-- icon -->
            <%= render "block_bis", block: @restaurant.ambiences_from_my_friends(current_user), ambience_or_strength: "ambience" %>
          </div>

      </div>
    </div>

    <!-- Strengths -->

    <div id="strengths">
      <div class="container">

        <div class="title">Points forts</div>
        <%= render "block_bis", block: @restaurant.strengths_from_my_friends(current_user), ambience_or_strength: "strength" %>
      </div>
    </div>
  <% end %>

  <!-- Wish -->

  <div id="resto-wish" class="text-center">
    <div class="container">
      <div class="title"><%= @friends_wishing.length == 0 ? 'Pas encore d\'ami qui veut y aller' : 'Ils ont envie d\'y aller'%></div>

      <div class="resto-wish-people multiple-carousel">
          <% @friends_wishing.each do |friend_id| %>
          <div>
            <%= image_tag User.find(friend_id).picture, class: "img-circle avatar img-responsive" %>
          </div>
        <% end %>
      </div>
      <% if Wish.where(user_id: current_user.id, restaurant_id: @restaurant.id).length == 0 && Recommendation.where(user_id: current_user.id, restaurant_id: @restaurant.id).length == 0 %>
        <%= form_for(@wish, class: 'form', html: { id: 'new-wish'}) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
          <button type = "submit", class = "end-word-button" %>
            <span class="button-icon icon-reco-wish"></span><%="#{@friends_wishing.length == 0 ? 'Je veux y aller !' : 'Moi aussi !'}" %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Menu -->
  <!-- c'est l'inverse donc mettre un point d'exclamation -->
  <% if @restaurant.main_course1 != "" %>
    <div id="menu" class="text-center">
      <div class="container">
        <div class="title">Sélection du chef</div>
        <% if @restaurant.starter1 != "" %>
          <h3>Entrees</h3>
          <p><%= @restaurant.starter1 %> <br><%= @restaurant.price_starter1 %>€</p>
          <p><%= @restaurant.starter2 %> <br><%= @restaurant.price_starter2 %>€</p>
        <% end %>
        <h3>Plats</h3>
        <p><%= @restaurant.main_course1 %> <br><%= @restaurant.price_main_course1 %>€</p>
        <p><%= @restaurant.main_course2 %> <br><%= @restaurant.price_main_course2 %>€</p>
        <p><%= @restaurant.main_course3 %> <br><%= @restaurant.price_main_course3 %>€</p>
        <% if @restaurant.dessert1 != "" %>
          <h3>Desserts</h3>
          <p><%= @restaurant.dessert1 %> <br><%= @restaurant.price_dessert1 %>€</p>
          <p><%= @restaurant.dessert2 %> <br><%= @restaurant.price_dessert2 %>€</p>
        <% end %>
      </div>
    <div>
  <% end %>


  <!-- Location -->
  <div id="basic_infos" class="text-center <%= @restaurant.starter1 == nil ? 'white-background' : 'grey-background'%>">
    <div class="container">

      <div class="title">Lieu</div>
      <p><%= @restaurant.address%></p>
      <p class="subway"><span class="subway-icon"></span><%= @subway.name %></p>
    </div>
  </div>

   <!-- Map -->
  <div id="map"></div>


  <!-- Reservation -->

  <div class="contact-restaurant clearfix">
    <p>Réserver une table</p>
    <%= link_to "Appeler", "tel:#{@restaurant.phone_number}", class: "btn btn-danger", id:"call" %>
  </div>


  <!-- Modifer / Supprimer / Retirer -->
  <% if Wish.where(user_id: current_user.id, restaurant_id: @restaurant.id).length > 0 || Recommendation.where(user_id: current_user.id, restaurant_id: @restaurant.id).length > 0 %>
    <div class="restaurant-interactions clearfix dark">
      <!-- retirer -->
      <% if Wish.where(user_id: current_user.id, restaurant_id: @restaurant.id).length > 0 %>
        <%= link_to wish_path(Wish.where(user_id: current_user.id, restaurant_id: @restaurant.id).first.id), class: "end-word-button dark", method: :delete do %>
        <span class="button-icon icon-unlike"></span>
        Retirer de mes envies
        <% end %>
      <% end %>

      <% if Recommendation.where(user_id: current_user.id, restaurant_id: @restaurant.id).length > 0 %>
        <!-- modifier -->

        <%= link_to new_recommendation_path(restaurant_id: @restaurant.id, restaurant_origin: 'db', restaurant_name: @restaurant.name), class: 'end-word-button dark' do %>
        <span class="button-icon icon-modify"></span>
        Modifier ma reco
        <% end %>

        <!-- suprrimer -->
        <%= link_to recommendation_path(Recommendation.where(user_id: current_user.id, restaurant_id: @restaurant.id).first.id), class: "end-word-button dark", method: :delete do %>
        <span class="button-icon icon-trash"></span>
        Supprimer ma reco
        <% end %>
      <% end %>
    </div>
  <% end %>





  <!-- script -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">

  // map

    var myLatlng = new google.maps.LatLng(<%= @restaurant.latitude %>, <%= @restaurant.longitude %>);
    var myOptions = {
      zoom: 16,
      disableDefaultUI: true,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [ { "featureType": "administrative.country", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "administrative.province", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "administrative.locality", "elementType": "all", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "administrative.neighborhood", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "administrative.land_parcel", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "landscape.man_made", "elementType": "all", "stylers": [ { "visibility": "on" } ] }, { "featureType": "landscape.man_made", "elementType": "geometry", "stylers": [ { "color": "#f7f1df" } ] }, { "featureType": "landscape.natural", "elementType": "geometry", "stylers": [ { "color": "#d0e3b4" } ] }, { "featureType": "landscape.natural.terrain", "elementType": "geometry", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.attraction", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.business", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.government", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.medical", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.medical", "elementType": "geometry", "stylers": [ { "color": "#fbd3da" } ] }, { "featureType": "poi.park", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#bde6ab" } ] }, { "featureType": "poi.place_of_worship", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.school", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi.sports_complex", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.highway", "elementType": "all", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [ { "color": "#ffe15f" } ] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [ { "color": "#efd151" } ] }, { "featureType": "road.highway.controlled_access", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.arterial", "elementType": "all", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.arterial", "elementType": "geometry.fill", "stylers": [ { "color": "#ffffff" } ] }, { "featureType": "road.local", "elementType": "all", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.local", "elementType": "geometry.fill", "stylers": [ { "color": "black" } ] }, { "featureType": "transit.line", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit.station.airport", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit.station.airport", "elementType": "geometry.fill", "stylers": [ { "color": "#cfb2db" } ] }, { "featureType": "transit.station.bus", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#a2daf2" } ] } ]
    };
    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var image = {
      url: "<%=image_path('map-pin-new.svg')%>",
      origin: new google.maps.Point(0,0)
    };
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      icon: image
    });

    // trackers

    mixpanel.track_links("#call", "call", {
        "user": "<%= current_user.name %>", "restaurant": "<%= @restaurant.name %>", "browser": "<%= browser.name %>"});
    mixpanel.track_forms("#new-wish", "New Wish", {"user": "<%= current_user.name %>", "restaurant": "<%= @restaurant.name %>" });
    mixpanel.track("restaurant_page", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>"});
  </script>

</div>


