<div>

  <!-- Restaurant About -->

  <%= render "restaurant_profile", restaurant: @restaurant, picture: @picture %>

  <!-- Reservation -->

  <div class="contact-restaurant clearfix">
    <p>Réserver une table</p>
    <%= link_to "Appeler", "tel:#{@restaurant.phone_number}", class: "btn btn-danger", id:"call" %>
  </div>

  <!-- Ambiences -->

  <div id="ambiences">
    <div class="container present">

      <div class= "title">
        <div class="title-middle">Ambiances</div>
      </div>

      <!-- icon -->
          <%= render "block_bis", block: @restaurant.ambiences_from_my_friends(current_user), ambience_or_strength: "ambience" %>
        </div>

    </div>
  </div>

  <!-- Strenght -->

  <div id="strengths">
    <div class="container present">

      <div class= "title">
        <div class="title-middle">Points forts</div>
      </div>
      <%= render "block_bis", block: @restaurant.strengths_from_my_friends(current_user), ambience_or_strength: "strength" %>
    </div>
  </div>


  <!-- Final word -->

  <div id="mots_de_la_fin" class="text-center">
    <div class="container">
      <div class= "title">
        <div class="title-middle">Ils y sont déjà allés</div>
      </div>

      <div class="end-word clearfix slider-nav">
        <% @restaurant.reviews_from_my_friends(current_user).each do |friend_id, content_and_date| %>
          <div class="end-word-people">
            <%= image_tag User.find(friend_id).picture, class: "img-circle avatar img-responsive" %>
          </div>
        <%end%>
      </div>

      <div class="end-word-quote slider-for">
        <% @restaurant.reviews_from_my_friends(current_user).each do |friend_id, content_and_date| %>
          <div>
           <!-- <span class="end-quote-arrow"></span> -->
            <%= content_and_date[0] %>
           <span class="end-quote-name"><%= User.find(friend_id).name%></span>
          </div>
        <% end %>
      </div>

      <a href="" class="btn btn-danger end-word-button">Donner mon avis</a>

    </div>
  </div>

  <!-- Wishlist -->

  <div id="resto-wishlist" class="text-center">
    <div class="container">
      <div class= "title">
        <div class="title-middle">Ils ont envie d'y aller</div>
      </div>

      <div class="resto-wishlist-people clearfix">
        <img class="resto-wishlist-person img-circle avatar img-responsive" src="http://needl.s3.amazonaws.com/development/users/pictures/000/000/001/original/picture?1434455677" alt="Picture?1434455677">
        <img class="resto-wishlist-person img-circle avatar img-responsive" src="http://needl.s3.amazonaws.com/development/users/pictures/000/000/001/original/picture?1434455677" alt="Picture?1434455677">
        <img class="resto-wishlist-person img-circle avatar img-responsive" src="http://needl.s3.amazonaws.com/development/users/pictures/000/000/001/original/picture?1434455677" alt="Picture?1434455677">
        <img class="resto-wishlist-person img-circle avatar img-responsive" src="http://needl.s3.amazonaws.com/development/users/pictures/000/000/001/original/picture?1434455677" alt="Picture?1434455677">
      </div>

      <a href="" class="btn btn-danger end-word-button">Moi aussi !</a>
    </div>
  </div>


  <!-- Location -->

  <div id="basic_infos" class="text-center">
    <div class="container present">

      <div class= "title">
        <div class="title-middle">Lieu</div>
      </div>
      <p><%= @restaurant.address%></p>
      <p class="subway"><span class="subway-icon"></span><%= @subway.name %></p>
    </div>
  </div>

   <!-- Map -->
  <div id="map" style="width: 100%; height: 150px;"></div>


  <!-- Reservation -->

  <div class="contact-restaurant clearfix">
    <p>Réserver une table</p>
    <%= link_to "Appeler", "tel:#{@restaurant.phone_number}", class: "btn btn-danger", id:"call" %>
  </div>





  <!-- script -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(<%= @restaurant.latitude %>, <%= @restaurant.longitude %>);
    var myOptions = {
      zoom: 16,
      disableDefaultUI: true,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape.man_made","elementType":"all","stylers":[{"color":"#949191"},{"lightness":83},{"saturation":"7"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"lightness":77}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#34ad6b"},{"lightness":"40"}]},{"featureType":"poi.school","elementType":"geometry.fill","stylers":[{"lightness":"39"},{"gamma":"0.76"},{"hue":"#fff700"},{"saturation":"67"}]},{"featureType":"poi.sports_complex","elementType":"geometry.fill","stylers":[{"color":"#c15e1f"},{"lightness":"12"},{"saturation":"45"},{"gamma":"2.07"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#f1b127"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#2f78c4"},{"gamma":"1.50"},{"lightness":"12"}]}]
    };
    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map
    });

    mixpanel.track_links("#call", "call", {
        "user": "<%= current_user.name %>", "restaurant": "<%= @restaurant.name %>", "browser": "<%= browser.name %>"
    });
    mixpanel.track("restaurant_page", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>"});
  </script>

</div>


