<div>

  <div id="image_field" style="background: url(<%= image_path(@picture) %>); background-repeat:no-repeat; background-size:cover; background-position:50% 50%" data-toggle="modal" data-target="#photos">
    <div id="text-left">
      <h1><%= @restaurant.name %></h1>
      <h3><%= @restaurant.food.name %></h3>
    </div>
    <div id="text-right", class="icon-box">
      <%= render "restaurants/price_ranges/level_#{@restaurant.price_range}.svg" %>
    </div>
  </div>
  <%= render "modal_photos" %>
  <div id="basic_infos" class="text-center">
    <h3><%= @restaurant.address%></h3>
    <h3>metro <%= @subway.name %></h3>
  </div>

  <div id="ambiences">
    <div class="container">
      <div class="row text-center">
        <h2>Ambiance</h2>
      </div>
      <%= render "block_bis", block: @restaurant.ambiences_from_my_friends(current_user), ambience_or_strength: "ambience" %>
    </div>
  </div>

  <div id="strengths">
    <div class="container">
      <div class="row text-center">
        <h2>Points forts</h2>
      </div>
      <%= render "block_bis", block: @restaurant.strengths_from_my_friends(current_user), ambience_or_strength: "strength" %>
    </div>
  </div>
  <div id="mots_de_la_fin" class="text-center">
    <div class="container">
      <h2>Mots de la fin</h2>
      <div class="carousel">
        <% @restaurant.reviews_from_my_friends(current_user).each do |friend_id, content_and_date| %>
          <div class= "padded">
              <%= image_tag User.find(friend_id).picture, class: "img-circle avatar img-responsive" %>
              <p>" <%= content_and_date[0] %> "</p>
          </div>
        <% end %>
      </div>
      <%= link_to "Contacter #{@restaurant.name}", "tel:#{@restaurant.phone_number}", class: "btn btn-danger", id:"call" %>
    </div>
  </div>

  <script>
    mixpanel.track_links("#call", "call", {
        "user": "<%= current_user.name %>", "restaurant": "<%= @restaurant.name %>", "browser": "<%= browser.name %>"
    });
    mixpanel.track("restaurant_page", {"user": "<%= current_user.name %>", "browser": "<%= browser.name %>"});
  </script>
</div>


