<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.number %></p>
<div>
  <% @restaurant.ambiences.each do |name,count|%>
    <%= name %>
    <%= count %>
  <% end %>
</div>

<div>
  <% @restaurant.strengths.each do |name,count|%>
    <%= name %>
    <%= count %>
  <% end %>
</div>

<div>
  <% @restaurant.recommendations.each do |reco| %>
    <%= reco.reviews %>
  <% end %>
</div>

