<div class='wrapper'>
  <%= link_to root_path do %>
    <%= image_tag 'logo_red.png', class: 'logo' %>
  <% end %>
  <h1><%= @message %></h1>
  <%= link_to 'http://download.needl-app.com/download-ios-wish', {target: 'blank'} do %>
    <%= image_tag 'download-ios.png' %>
  <% end %>
</div>