<div class='wrapper'>
  <%= link_to root_path do %>
    <%= image_tag 'logo_red.png', class: 'logo' %>
  <% end %>
  <% if @message_welcome != nil %>
    <%= @message_welcome.html_safe %>
    <%= @message.html_safe %>
  <% else %>
    <%= @message.html_safe %></h1>
  <% end %>
  <%= link_to 'http://download.needl-app.com/download-ios-wish', {target: 'blank', class: 'download'} do %>
    <%= image_tag 'download-ios.png' %>
  <% end %>
</div>