<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Wagon Rails" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller].gsub(/\//, '_')}_#{params[:action]}" %>" >
  <%= render "shared/flashes" %>
  <% if params[:controller] + "_" + params[:action] == "restaurants_index" %>
    <%= render "shared/sidebar" %>
  <% end %>
  <div class="wrap">
    <%= yield %>
  </div>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCOmsyWHOongAOfaB1f8iHk3CY7XVuUBs0" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <script type="text/javascript" src="code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>

  <%= javascript_include_tag :application %>
  <%= yield(:after_js) %>

  <%= render "shared/footer" %>

  <% if params[:controller] + "_" + params[:action] == "restaurants_index" %>
  <label for="sidebar-checkbox" class="sidebar-toggle"><%= image_tag "loupe.svg" %></label>

   <script>
     (function(document) {
       var toggle = document.querySelector('.sidebar-toggle');
       var sidebar = document.querySelector('#sidebar');
       var checkbox = document.querySelector('#sidebar-checkbox');
       document.addEventListener('click', function(e) {
         var target = e.target;
         if(!checkbox.checked ||
            sidebar.contains(target) ||
            (target === checkbox || target === toggle)) return;
         checkbox.checked = false;
       }, false);
     })(document);
   </script>
  <% end %>

</body>
</html>
