<!DOCTYPE html>
<html>
<head>
  <title>Needl</title>
<!--   <meta name="description" content="<%= (yield(:description) || "Découvrez les restaurants préférés de vos amis et partagez en retour vos propres découvertes").squish %>"> -->
  <meta name="description"               content="Découvrez les restaurants préférés de vos amis">
  <meta property="og:url"                content="http://www.needl.fr" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Needl App - Retrouve les restaurants préférés de tes amis." />
  <meta property="og:description"        content="Tous les coups de coeur de tes amis réunis sur une app." />
  <meta property="og:image"              content="https://s3-eu-west-1.amazonaws.com/needl/production/supports/facebook/needl+link+facebook.jpg" />
  <meta property="fb:app_id"              content="1624037477816607" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="apple-touch-icon" href="https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/11695771_407371082795357_5214546738398943947_n.png?oh=e4a1cb18dcd7bf56850f94a243506d75&oe=56157F3A" />
  <link rel="icon" href="https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/11695771_407371082795357_5214546738398943947_n.png?oh=e4a1cb18dcd7bf56850f94a243506d75&oe=56157F3A" />

  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
  mixpanel.init("<%= ENV['MIXPANEL_TOKEN'] %>");</script><!-- end Mixpanel -->

  <!-- start Optimizely -->
  <script src="//cdn.optimizely.com/js/3686758630.js"></script>
  <!-- end Optmizely -->

  <!-- start jQuery -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- end jQuery -->


</head>
<body id="<%= "#{params[:controller].gsub(/\//, '_')}_#{params[:action]}" %>" >
  <%= render "shared/flashes" %>

  <% if params[:controller] + "_" + params[:action] == "restaurants_index" %>
    <%= render "shared/sidebar" %>
  <% end %>
  <div class="wrap">

    <%= yield %>
  </div>

  <!-- On n'affiche pas le footer quand quelqu'un fait une recommandation depuis un mail -->
  <% if params["origin"] != "mail" %>
    <%= render "shared/footer" %>
  <% end %>

  <%= javascript_include_tag :application %>
  <%= yield(:after_js) %>

  <% if params[:controller] + "_" + params[:action] == "restaurants_index" %>
  <label for="sidebar-checkbox" class="sidebar-toggle"><%= image_tag "icon-filter-w.png" %><div class="icon-label">Filtres</div></label>

   <script>
     (function(document) {
       var toggle = document.querySelector('.sidebar-toggle');
       var sidebar = document.querySelector('#sidebar');
       var checkbox = document.querySelector('#sidebar-checkbox');
       document.addEventListener('click', function(e) {
         var target = e.target;
         if(!checkbox.checked ||
            sidebar.contains(target) ||
            (target === checkbox || target === toggle)) return;
         checkbox.checked = false;
       }, false);
     })(document);
   </script>
  <% end %>
  <script type="text/javascript">
      adroll_adv_id = "KHLNN4TLBNBYHKSAMNTTVX";
      adroll_pix_id = "CR6B33EY3FERBIDGCFRTZ7";
      /* OPTIONAL: provide email to improve user identification */
      /* adroll_email = "username@example.com"; */
      (function () {
          var _onload = function(){
              if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
              if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
              var scr = document.createElement("script");
              var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
              scr.setAttribute('async', 'true');
              scr.type = "text/javascript";
              scr.src = host + "/j/roundtrip.js";
              ((document.getElementsByTagName('head') || [null])[0] ||
                  document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
          };
          if (window.addEventListener) {window.addEventListener('load', _onload, false);}
          else {window.attachEvent('onload', _onload)}
      }());
  </script>

</body>
</html>
